# MongoDBの設定
MONGO_URI=mongodb://mongodb:27017/linkgate

# 各種トークン
# LINE関連
LINE_CHANNEL_TOKEN=dummytoken
LINE_CHANNEL_SECRET=dummysecret
LINE_GROUP_ID=dummygid

DISCORD_BOT_TOKEN=
DISCORD_CHANNEL_ID=
SLACK_TOKEN=
